*{
    box-sizing:border-box;
}

body {
    background-color: #E2DAC1;
    color : #304D51;
    font-family:Arial, Helvetica, sans-serif;
}

/*Skill Styling*/
.skill{
    border: solid #C71585;
    color: #C71585;
    border-radius: 20px 20px 20px 20px;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
}

.skill:not(:last-child){
    margin-right:0.5rem;
}
/*                           */


/*Connect Styling*/
#connect li{
    display: inline-block;
}
/*                           */

/*Message Section Styling*/
#messages button {
    background-color:#C71585;
    color:white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 10px;
}

.remove-button{
    border: 5px solid red;
    color:blue;
    background: red;
    justify-content: center;
    align-items: stretch;

}

.message{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color:white;
    background-color: #304D51;
    border:inset;
  }
  
/*                           */


/*Heading Styling*/
h1,h2{
    font-variant: small-caps;
    color:#C71585;
}
/*                           */

/*Leave A Message Form Styling*/


.form-container{
    display:flex;
    max-width:600px;
    margin-bottom: 2em;
}

.form-area{
    display:flex;
    border-radius:20px;
    padding:1.9em; 
}


.message-label{
    display:flex;
    flex-direction:column; 
    order:1;
}

.message-label> textarea {
    flex:1;
    min-width:15em;
    background: white;
    color: black;
    font-family:inherit;
}

.information-label{
    flex:1;
    order:1;
    margin-right:1em;
}

.information-label input{
    width:100%;
    color: black;
}

.information-label input, .information-label button{
    padding: .5em;
    margin-bottom:1.5em;
}

.information-label button{
color: white;
border:outset;
border-radius:10px  10px 10px;
background: #C71585;
padding:10px;
}


/*                           */



/*Nav Bar Styling*/
.nav-list{
    margin:0; 
    padding:2rem 0; 
    border-radius:var(--radius);
    display:flex;
    justify-content:flex-end; 
    align-items:center; 
    background-color: #FFFF00;
}


.nav-item{
    list-style: none;
    margin-right:2rem;
}

.nav-item a{
    text-decoration:none;
    color: #304D51;
}

.nav-item:first-child{
    margin-right:auto;
    margin-left:2rem;
}


.nav-item a:hover{
    color: #C71585;
    transition: all 200ms ease-in;
}



/*                           */


/*Experience Styling*/
.experience{
    background-color: #304D51;
    border:inset;
    color:white;
    display: flex;
    flex-direction: column;
    max-width:800px;
    padding: 30px;
}

.experience:not(:last-child){
    margin-bottom:1rem;
}


@media screen and (min-width: 768px) {
    .experience{
        flex-direction: row;
        justify-content:space-between;
     
    }
}
/*                           */


/*Footer Styling*/
footer{
    background-color: #FFFF00;
    padding: 10px;
    width: 200%;
}
/*                           */